In [1]:
'''
Decision Tree: Decision tree is a tree shaped diagram used to determine a course of action. Each branch of  the tree represents 
a possible decision.

Decision tree is used for classification as well as for regression problems.

Entropy: Degree of Randomness.
Entropy is  the measure of randomness or unpredicatability in the dataset.

Information gain: It is the measure of decrease in entropy after the dataset is split.

Goal is to  reduce the entropy and increase the information gain in each split.

Whenever you are working with Tree based algorithm then there is NO NEED OF DATA PREPROCESSING (Normalization and Encoding) You have check NaN
'''

'\nDecision Tree: Decision tree is a tree shaped diagram used to determine a course of action. Each branch of  the tree represents \na possible decision.\n\nDecision tree is used for classification as well as for regression problems.\n\nEntropy: Degree of Randomness.\nEntropy is  the measure of randomness or unpredicatability in the dataset.\n\nInformation gain: It is the measure of decrease in entropy after the dataset is split.\n\nGoal is to  reduce the entropy and increase the information gain in each split.\nGini Index is a powerful measure of the randomness or the impurity or entropy in the values of a dataset. \nGini Index aims to decrease the impurities from the root nodes (at the top of decision tree) \nto the leaf nodes (vertical branches down the decision tree) of a decision tree model\n\n\n\nWhenever you are working with Tree based algorithm then there is NO NEED OF DATA PREPROCESSING (Normalization and Encoding)\n'

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn import tree

In [2]:
balance_data = pd.read_csv('data/loan_data.csv')

In [3]:
balance_data.head()

,Unnamed: 0,Initial payment,Last payment,Credit Score,House Number,Result
0,0,201,10018,250,3046,yes
1,1,205,10016,395,3044,yes
2,2,257,10129,109,3251,yes
3,3,246,10064,324,3137,yes
4,4,117,10115,496,3094,yes

In [4]:
balance_data.shape

(1000, 6)

In [6]:
print ("Dataset Lenght:: "), len(balance_data)
print ("Dataset Shape:: "), balance_data.shape

Dataset Lenght::
Dataset Shape::

(None, (1000, 6))

In [6]:
print ("Dataset:: ")
balance_data.head()

Dataset::

,Unnamed: 0,Initial payment,Last payment,Credit Score,House Number,Result
0,0,201,10018,250,3046,yes
1,1,205,10016,395,3044,yes
2,2,257,10129,109,3251,yes
3,3,246,10064,324,3137,yes
4,4,117,10115,496,3094,yes

In [8]:
# yes: 1
# No: 0

In [7]:
balance_data.drop(columns=['Unnamed: 0',"House Number"] , inplace=True)

In [8]:
balance_data.head()

   Initial payment  Last payment  Credit Score Result
0              201         10018           250    yes
1              205         10016           395    yes
2              257         10129           109    yes
3              246         10064           324    yes
4              117         10115           496    yes

In [9]:
balance_data['Result'].value_counts()

#P(y)=479/1000
#P(n)=521/1000

Result
No     521
yes    479
Name: count, dtype: int64

In [11]:
balance_data.head()

   Initial payment  Last payment  Credit Score Result
0              201         10018           250    yes
1              205         10016           395    yes
2              257         10129           109    yes
3              246         10064           324    yes
4              117         10115           496    yes

In [10]:
balance_data.isna().sum()

Initial payment    0
Last payment       0
Credit Score       0
Result             0
dtype: int64

In [13]:
X = balance_data[["Initial payment", "Last payment","Credit Score"]].values
Y = balance_data["Result"].values

In [14]:
X

array([[  201, 10018,   250],
       [  205, 10016,   395],
       [  257, 10129,   109],
       ...,
       [  316, 14872,   613],
       [  305, 14926,   897],
       [  168, 14798,   834]], dtype=int64)

In [17]:
Y[:10]

array(['yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes'], dtype=object)

In [19]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3)

In [20]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

#training the model
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [21]:
text_representation = tree.export_text(model)
print(text_representation)

|--- feature_1 <= 12336.00
|   |--- feature_1 <= 11552.00
|   |   |--- feature_0 <= 485.50
|   |   |   |--- feature_1 <= 11484.50
|   |   |   |   |--- class: yes
|   |   |   |--- feature_1 >  11484.50
|   |   |   |   |--- feature_1 <= 11490.50
|   |   |   |   |   |--- class: No
|   |   |   |   |--- feature_1 >  11490.50
|   |   |   |   |   |--- class: yes
|   |   |--- feature_0 >  485.50
|   |   |   |--- feature_0 <= 488.00
|   |   |   |   |--- class: No
|   |   |   |--- feature_0 >  488.00
|   |   |   |   |--- class: yes
|   |--- feature_1 >  11552.00
|   |   |--- feature_2 <= 872.00
|   |   |   |--- feature_1 <= 12052.00
|   |   |   |   |--- feature_2 <= 433.00
|   |   |   |   |   |--- feature_0 <= 403.00
|   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |--- feature_0 >  403.00
|   |   |   |   |   |   |--- feature_0 <= 422.00
|   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |--- feature_0 >  422.00
|   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |--- feature_2 >  433.00
|   |   |   |   |   |--- feature_2 <= 438.00
|   |   |   |   |   |   |--- class: No
|   |   |   |   |   |--- feature_2 >  438.00
|   |   |   |   |   |   |--- feature_0 <= 147.50
|   |   |   |   |   |   |   |--- feature_0 <= 144.00
|   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |   |--- feature_0 >  144.00
|   |   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |--- feature_0 >  147.50
|   |   |   |   |   |   |   |--- feature_0 <= 296.00
|   |   |   |   |   |   |   |   |--- feature_1 <= 11966.50
|   |   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |   |   |--- feature_1 >  11966.50
|   |   |   |   |   |   |   |   |   |--- feature_1 <= 12002.50
|   |   |   |   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |   |   |   |--- feature_1 >  12002.50
|   |   |   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |   |--- feature_0 >  296.00
|   |   |   |   |   |   |   |   |--- feature_0 <= 338.50
|   |   |   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |   |   |--- feature_0 >  338.50
|   |   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |--- feature_1 >  12052.00
|   |   |   |   |--- feature_2 <= 668.50
|   |   |   |   |   |--- feature_1 <= 12119.50
|   |   |   |   |   |   |--- class: No
|   |   |   |   |   |--- feature_1 >  12119.50
|   |   |   |   |   |   |--- feature_1 <= 12156.50
|   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |--- feature_1 >  12156.50
|   |   |   |   |   |   |   |--- feature_1 <= 12251.00
|   |   |   |   |   |   |   |   |--- feature_1 <= 12170.00
|   |   |   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |   |   |--- feature_1 >  12170.00
|   |   |   |   |   |   |   |   |   |--- feature_1 <= 12183.00
|   |   |   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |   |   |   |--- feature_1 >  12183.00
|   |   |   |   |   |   |   |   |   |   |--- feature_0 <= 202.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |   |   |   |   |--- feature_0 >  202.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |--- feature_1 >  12251.00
|   |   |   |   |   |   |   |   |--- feature_0 <= 305.50
|   |   |   |   |   |   |   |   |   |--- feature_0 <= 244.00
|   |   |   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |   |   |   |--- feature_0 >  244.00
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 12295.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  12295.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |   |   |--- feature_0 >  305.50
|   |   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |--- feature_2 >  668.50
|   |   |   |   |   |--- class: yes
|   |   |--- feature_2 >  872.00
|   |   |   |--- feature_2 <= 937.50
|   |   |   |   |--- feature_1 <= 12141.00
|   |   |   |   |   |--- class: No
|   |   |   |   |--- feature_1 >  12141.00
|   |   |   |   |   |--- class: yes
|   |   |   |--- feature_2 >  937.50
|   |   |   |   |--- feature_1 <= 11801.50
|   |   |   |   |   |--- class: yes
|   |   |   |   |--- feature_1 >  11801.50
|   |   |   |   |   |--- feature_2 <= 978.50
|   |   |   |   |   |   |--- feature_2 <= 964.50
|   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |--- feature_2 >  964.50
|   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |--- feature_2 >  978.50
|   |   |   |   |   |   |--- class: No
|--- feature_1 >  12336.00
|   |--- feature_1 <= 13054.00
|   |   |--- feature_2 <= 579.00
|   |   |   |--- feature_1 <= 12518.00
|   |   |   |   |--- feature_2 <= 281.00
|   |   |   |   |   |--- feature_1 <= 12456.00
|   |   |   |   |   |   |--- class: No
|   |   |   |   |   |--- feature_1 >  12456.00
|   |   |   |   |   |   |--- class: yes
|   |   |   |   |--- feature_2 >  281.00
|   |   |   |   |   |--- feature_0 <= 317.00
|   |   |   |   |   |   |--- feature_1 <= 12425.00
|   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |--- feature_1 >  12425.00
|   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |--- feature_0 >  317.00
|   |   |   |   |   |   |--- class: yes
|   |   |   |--- feature_1 >  12518.00
|   |   |   |   |--- feature_0 <= 287.50
|   |   |   |   |   |--- feature_1 <= 12688.50
|   |   |   |   |   |   |--- feature_1 <= 12546.50
|   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |--- feature_1 >  12546.50
|   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |--- feature_1 >  12688.50
|   |   |   |   |   |   |--- feature_2 <= 142.50
|   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |--- feature_2 >  142.50
|   |   |   |   |   |   |   |--- feature_2 <= 418.50
|   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |   |--- feature_2 >  418.50
|   |   |   |   |   |   |   |   |--- feature_0 <= 198.00
|   |   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |   |   |--- feature_0 >  198.00
|   |   |   |   |   |   |   |   |   |--- class: No
|   |   |   |   |--- feature_0 >  287.50
|   |   |   |   |   |--- feature_0 <= 488.50
|   |   |   |   |   |   |--- feature_2 <= 536.00
|   |   |   |   |   |   |   |--- feature_2 <= 350.50
|   |   |   |   |   |   |   |   |--- feature_2 <= 311.50
|   |   |   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |   |   |--- feature_2 >  311.50
|   |   |   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |   |--- feature_2 >  350.50
|   |   |   |   |   |   |   |   |--- class: No
|   |   |   |   |   |   |--- feature_2 >  536.00
|   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |--- feature_0 >  488.50
|   |   |   |   |   |   |--- class: yes
|   |   |--- feature_2 >  579.00
|   |   |   |--- feature_0 <= 116.50
|   |   |   |   |--- class: yes
|   |   |   |--- feature_0 >  116.50
|   |   |   |   |--- feature_0 <= 475.00
|   |   |   |   |   |--- class: No
|   |   |   |   |--- feature_0 >  475.00
|   |   |   |   |   |--- feature_1 <= 12413.50
|   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |--- feature_1 >  12413.50
|   |   |   |   |   |   |--- class: No
|   |--- feature_1 >  13054.00
|   |   |--- feature_0 <= 103.50
|   |   |   |--- feature_2 <= 360.00
|   |   |   |   |--- class: yes
|   |   |   |--- feature_2 >  360.00
|   |   |   |   |--- class: No
|   |   |--- feature_0 >  103.50
|   |   |   |--- feature_1 <= 13235.50
|   |   |   |   |--- feature_2 <= 177.00
|   |   |   |   |   |--- feature_0 <= 263.50
|   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |--- feature_0 >  263.50
|   |   |   |   |   |   |--- class: No
|   |   |   |   |--- feature_2 >  177.00
|   |   |   |   |   |--- class: No
|   |   |   |--- feature_1 >  13235.50
|   |   |   |   |--- feature_0 <= 128.50
|   |   |   |   |   |--- feature_0 <= 127.50
|   |   |   |   |   |   |--- class: No
|   |   |   |   |   |--- feature_0 >  127.50
|   |   |   |   |   |   |--- feature_1 <= 14102.50
|   |   |   |   |   |   |   |--- class: yes
|   |   |   |   |   |   |--- feature_1 >  14102.50
|   |   |   |   |   |   |   |--- class: No
|   |   |   |   |--- feature_0 >  128.50
|   |   |   |   |   |--- class: No

In [22]:
y_pred = model.predict(X_test)

In [23]:
print ("Accuracy is ", accuracy_score(y_test,y_pred)*100)

Accuracy is  87.0

In [24]:
y_train_pred = model.predict(X_train)

In [25]:
print ("Accuracy is ", accuracy_score(y_train, y_train_pred)*100)

Accuracy is  100.0

In [ ]:
#Overfitting

In [ ]:
#pruning

In [26]:
import joblib

In [28]:
joblib.dump(model, r"C:\Users\vansh\Desktop\PC\ML\Sunstone\model\loan_model_DT.pkl")

['C:\\Users\\vansh\\Desktop\\PC\\ML\\Sunstone\\model\\loan_model_DT.pkl']