In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\vansh\Desktop\PC\ML\CareerEra\ML\data\penguins.csv")

In [4]:
df.head()

   CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0          39.1         18.7          181.0    3750.0        0
1          39.5         17.4          186.0    3800.0        0
2          40.3         18.0          195.0    3250.0        0
3           NaN          NaN            NaN       NaN        0
4          36.7         19.3          193.0    3450.0        0

In [5]:
#checking the shape of the data, number of rows and columns in the dataset 

df.shape

(344, 5)

In [6]:
#unique categories of species

df["Species"].value_counts()

Species
0    152
1    124
2     68
Name: count, dtype: int64

In [7]:
feature = ["CulmenLength", "CulmenDepth",	"FlipperLength",	"BodyMass"]

In [8]:
#describe function will return the statistical summary

df[feature].describe()

       CulmenLength  CulmenDepth  FlipperLength     BodyMass
count    342.000000   342.000000     342.000000   342.000000
mean      43.921930    17.151170     200.915205  4201.754386
std        5.459584     1.974793      14.061714   801.954536
min       32.100000    13.100000     172.000000  2700.000000
25%       39.225000    15.600000     190.000000  3550.000000
50%       44.450000    17.300000     197.000000  4050.000000
75%       48.500000    18.700000     213.000000  4750.000000
max       59.600000    21.500000     231.000000  6300.000000

In [9]:
#Check the nan

In [10]:
df.head()

   CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0          39.1         18.7          181.0    3750.0        0
1          39.5         17.4          186.0    3800.0        0
2          40.3         18.0          195.0    3250.0        0
3           NaN          NaN            NaN       NaN        0
4          36.7         19.3          193.0    3450.0        0

In [11]:
df.isna().sum()

CulmenLength     2
CulmenDepth      2
FlipperLength    2
BodyMass         2
Species          0
dtype: int64

In [15]:
#while dropping if you are losing more than 5% data then dont drop fill it 
# df.dropna()

# df = df.dropna()


df.dropna(inplace=True)

In [16]:
df.isna().sum()

CulmenLength     0
CulmenDepth      0
FlipperLength    0
BodyMass         0
Species          0
dtype: int64

In [17]:
#RandomForest Classifier ---> Encoding and Normalization is not required

In [19]:
#Create my X and Y variables.   Features and Target
feature = ["CulmenLength", "CulmenDepth",	"FlipperLength",	"BodyMass"]

['CulmenLength', 'CulmenDepth', 'FlipperLength', 'BodyMass']

In [20]:
#created the features array
X = df[feature].values

#created the Target array
Y = df["Species"].values

In [21]:
X[:5]

array([[  39.1,   18.7,  181. , 3750. ],
       [  39.5,   17.4,  186. , 3800. ],
       [  40.3,   18. ,  195. , 3250. ],
       [  36.7,   19.3,  193. , 3450. ],
       [  39.3,   20.6,  190. , 3650. ]])

In [22]:
Y[:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [24]:
#Split the data in training and tetsing set.

from sklearn.model_selection import train_test_split

In [26]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
model = RandomForestClassifier().fit(x_train, y_train)

In [29]:
#testing
y_pred = model.predict(x_test)

In [30]:
#evaluation metric

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
acc = accuracy_score(y_test, y_pred)
print(acc*100)

98.05825242718447

In [33]:
pwd

'C:\\Users\\vansh\\Desktop\\PC\\ML\\Sunstone'